<?xml version="1.0" encoding="utf-8"?>

  <!-- Base -->
  <!--Export the mesh manually to sim_cad_base_2tyhvn.dae-->
  <collision>
    <!--Base-->
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_base_2tyhvn.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_1 -->
  <!--Export the mesh manually to sim_cad_pillers_1_hscy2k.dae-->
  <collision>
    <!--Pillers_1-->
    <origin rpy="0 0 0" xyz="-0.000230575 0.000216029 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_1_hscy2k.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_002 -->
  <!--Export the mesh manually to sim_cad_pillers_002_r2n5bq.dae-->
  <collision>
    <!--Pillers_002-->
    <origin rpy="0 0 0" xyz="0.000269425 -0.000185895 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_002_r2n5bq.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_003 -->
  <!--Export the mesh manually to sim_cad_pillers_003_0vh6um.dae-->
  <collision>
    <!--Pillers_003-->
    <origin rpy="0 0 0" xyz="-0.00223057 0.000177553 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_003_0vh6um.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_004 -->
  <!--Export the mesh manually to sim_cad_pillers_004_efh9or.dae-->
  <collision>
    <!--Pillers_004-->
    <origin rpy="0 0 0" xyz="0.000769425 0.000177553 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_004_efh9or.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_005 -->
  <!--Export the mesh manually to sim_cad_pillers_005_zhgoql.dae-->
  <collision>
    <!--Pillers_005-->
    <origin rpy="0 0 0" xyz="-0.000230575 0.00113908 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_005_zhgoql.dae"/>
    </geometry>
  </collision>
  <!-- Pillers_006 -->
  <!--Export the mesh manually to sim_cad_pillers_006_3gj2ou.dae-->
  <collision>
    <!--Pillers_006-->
    <origin rpy="0 0 0" xyz="-0.000230575 -0.000860923 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_pillers_006_3gj2ou.dae"/>
    </geometry>
  </collision>
  <!-- Base2 -->
  <!--Export the mesh manually to sim_cad_base2_waan3v.dae-->
  <collision>
    <!--Base2-->
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_base2_waan3v.dae"/>
    </geometry>
  </collision>
  <!-- head -->
  <!--Export the mesh manually to sim_cad_head_7goio3.dae-->
  <collision>
    <!--head-->
    <origin rpy="0 0 3.141592653589793" xyz="-0.0011 0.0004 0.0051"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_head_7goio3.dae"/>
    </geometry>
  </collision>
  <!-- MG996R -->
  <!--Export the mesh manually to sim_cad_mg996r_qccfge.dae-->
  <collision>
    <!--MG996R-->
    <origin rpy="0 0 -3.141592103937217" xyz="-0.00113332 0.0003394 0.005"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_mg996r_qccfge.dae"/>
    </geometry>
  </collision>
  <!-- Bottom_frame001 -->
  <!--Export the mesh manually to sim_cad_bottom_frame001_s7rpqd.dae-->
  <collision>
    <!--Bottom_frame001-->
    <origin rpy="3.141592103937217 1.5707963267948963 0" xyz="0.111183 0.000544471 0.225375"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_bottom_frame001_s7rpqd.dae"/>
    </geometry>
  </collision>
  <!-- MG996R002 -->
  <!--Export the mesh manually to sim_cad_mg996r002_kd114m.dae-->
  <collision>
    <!--MG996R002-->
    <origin rpy="-1.5707963267948963 0 -1.5707957771423207" xyz="-0.134865 0.142945 0.116499"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_mg996r002_kd114m.dae"/>
    </geometry>
  </collision>
  <!-- head001 -->
  <!--Export the mesh manually to sim_cad_head001_9ukfnf.dae-->
  <collision>
    <!--head001-->
    <origin rpy="3.141592653589792 0 5.496525761295702e-07" xyz="-0.0223986 -0.000555306 0.22806"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_head001_9ukfnf.dae"/>
    </geometry>
  </collision>
  <!-- mid_frame -->
  <!--Export the mesh manually to sim_cad_mid_frame_fpkfem.dae-->
  <collision>
    <!--mid_frame-->
    <origin rpy="-3.141592653589793 0.009654765284382182 -3.141592103937217" xyz="-0.0262717 -0.0475553 0.228527"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_mid_frame_fpkfem.dae"/>
    </geometry>
  </collision>
  <!-- head003 -->
  <!--Export the mesh manually to sim_cad_head003_vrafvt.dae-->
  <collision>
    <!--head003-->
    <origin rpy="-3.1319378883054116 0 -1.5707957771423209" xyz="-0.13464 0.140545 0.226094"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_head003_vrafvt.dae"/>
    </geometry>
  </collision>
  <!-- MG996R003 -->
  <!--Export the mesh manually to sim_cad_mg996r003_itxg0n.dae-->
  <collision>
    <!--MG996R003-->
    <origin rpy="0 -1.5611411985102512 -3.1415921039372217" xyz="-0.244976 0.000544571 0.00495784"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_mg996r003_itxg0n.dae"/>
    </geometry>
  </collision>
  <!-- Bottom_frame002 -->
  <!--Export the mesh manually to sim_cad_bottom_frame001_xt09eb.dae-->
  <collision>
    <!--Bottom_frame002-->
    <origin rpy="0 -1.5611411985102503 -3.141592103937218" xyz="-0.244177 0.00053298 0.00506556"/>
    <geometry>
      <mesh filename="package://M2/meshes/sim_cad_bottom_frame001_xt09eb.dae"/>
    </geometry>
  </collision>
